<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/teachers" class="col-3 btn btn-primary"> Teachers</a>
        <a href="/students" class="col-3 btn btn-primary"> Students</a>
    </div>
</main>

<%- include('partials/footer') -%>
