<%- include('../partials/header') -%>

<main class="container">
    <h2>Student Login</h2>
    <p class="text-center mt-3">
        Enter the email your teacher used to register you
    </p>
    <div class="row justify-content-around mt-5">
        <a href="/students/login" class="col-3 btn btn-primary">Login</a>
    </div>
</main>

<%- include('../partials/footer') -%>
