<%- include('../partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/teachers/login" class="col-3 btn btn-primary">Login</a>
        <a href="/teachers/signup" class="col-3 btn btn-primary">Sign up</a>
    </div>
    <div class="row justify-content-around mt-5">
        <a href="/" class="col-3 btn btn-primary">Back home</a>
    </div>
</main>

<%- include('../partials/footer') -%>
